# Neon Database (Postgres)
DATABASE_URL="postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Mux Video
MUX_TOKEN_ID=""
MUX_TOKEN_SECRET=""

# UploadThing
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""

# FeedFlix
FEEDFLIX_API_KEY=""
FEEDFLIX_BASE_URL="https://feedflix.com"
FEEDFLIX_RELAY_URL="wss://relay.feedflix.com"
